<%= stylesheet_link_tag 'faq' %>
<%= image_tag("Frame2.png", :class =>'image')%>

<div class="row">
      <div class="position">
        <div class="col-6" style="text-align: center; ">
        </br> <strong><p style="color: #000000; font-size: 100px"> Часті запитання?</p></strong> 
        <p style="font-size: 30px"><strong>Допомога в навчанні, проведення консультацій з кращими експертами,</br> копірайтинг і переклади</strong></p></br></br>
      </div>
  </div>
</div>

<div style="background: #fffee8; text-align: center; font-size: 24pt;">
      <span><strong>Як зареєструватись на StudyHub?</span></strong></p>
</div>
<div class="container">
  <p style="font-size: 20pt;">&emsp;Для роботи на сайті StudyHub вам необхідно зареєструватися. Процедура реєстрації є безкоштовною та ви можете обрати роль:</br>
-замовника</br>
-виконавця (автора робіт)</br>
&emsp;Ви можете зареєструвати тільки один акаунт замовника і один акаунт виконавця. У разі реєстрації більшої кількості облікових записів, все акаунти можуть бути заблоковані без попередження.
Щоб зареєструватись на сайті у відповідних полях вкажіть ім’я та прізвище, введіть email і пароль, оберіть тип акаунту (замовник/ виконавець).
</p>
</div>

<div style="background: #fffee8; text-align: center; font-size: 24pt;">
      <span><strong>Скільки коштують послуги сервісу?</span></strong></p>
</div>
<div class="container">
  <p style="font-size: 20pt;">&emsp;Завдяки роботі замовника з виконавцем безпосередньо, замовляти роботу на нашому сервісі набагато вигідніше, ніж в рефератних агентствах.</br>
&emsp;Замовник визначає терміни виконання роботи і її вартість, обирає виконавця серед безлічі пропозицій і працює з ним безпосередньо.</br> 
&emsp;Виконавець бере замовлення на виконання і заробляє гроші, співпрацює з тими замовниками, які йому подобаються і пише роботи на улюблені теми за вигідною ціною. Наш сервіс гарантує - правильно виконана робота в термін буде сплачена в повному обсязі.</br>
&emsp;Комісія, що стягується з замовника за використання ресурсу - 15%. 
</p>
</div>

<div style="background: #fffee8; text-align: center; font-size: 24pt;">
      <span><strong>Публічна оферта</br>
      Договір публічної оферти про надання інформаційно-консультаційних послуг</span></strong>
</div>
<div class="container">
  <p style="font-size: 20pt;">&emsp;Цей Договір – офіційна пропозиція компанії “StudyHub” (надалі – Виконавець) для будь-якої юридичної або фізичної особи (надалі – Замовник), яка приймає цю оферту на зазначених нижче умовах.</br>  
&emsp;Відповідно до пункту 2 статті 642 Цивільного кодексу України прийняттям оферти (акцепту) вважається вчинення дії відповідно до зазначених в публічній пропозиції умов договору, оскільки акцепт прирівнюється до укладення договору. Момент укладення даного Договору – момент зарахування коштів на рахунок виконавця від Замовника одним із запропонованих способів оплати.</br>
 
&emsp;Момент припинення дій Договору – повне виконання сторонами своїх зобов’язань або настання інших підстав, прописаних в Оферті. Відповідно до статей 633 і 641 Цивільного кодексу України цей Договір є публічним, має повноцінну юридичну силу і еквівалентний усній угоді.</br>
 
&emsp;&emsp;Визначення та терміни</br>
 
 Для цілей цієї Оферти наведені нижче терміни вживаються в такому значенні (якщо інше не мається на увазі контекстом):</br>
  
“Договір” – угоду між Замовником та Виконавцем на предмет надання інформаційно-консультаційних послуг, укладену шляхом акцепту оферти.</br>
 
“Замовлення” – послуга з пропонованого асортиментного переліку, необхідність надання якої вказана Замовником при оформленні заявки.</br> 
 
“Замовник” – фізична або юридична особа, яка прийняла цю Оферту.</br>
 
“Виконавець” – автори компанії “StudyHub”, в особі яких представлена ​​вся компанія.</br>
 
“Оферта” – справжній публічний договір-пропозиція послуги про компанію “StudyHub”.</br>
 
&emsp;&emsp;Предмет договору</br>
 
2.1. Виконавець пропонує інформаційні та консультаційні послуги, що є предметом Оферти. Основа надання – платна. Умови співпраці прописані цим Договором.</br>
 
2.2. Інформаційно-консультаційні послуги не можна вважати освітніми або іншими ліцензованими видами послуг. Це просвітницький, допоміжний матеріал, відповідальність за використання якого лежить на Замовнику.</br>
 
2.3. Термін, умови виконання, вартість, обсяг і межі послуг визначаються умовами конкретної угоди в індивідуальному порядку, з урахуванням побажань Замовника.</br>
 
2.4. Виконавець взаємодіє з Замовником через листування по електронній пошті. Таким способом направляються вихідні дані, важливі повідомлення, проміжні результати, повідомлення.</br>
 
2.5. Предмет Договору не може бути істотно змінений без узгодженого взаємного рішення сторін.</br>

    </p>
</div>

<div style="background: #188753; text-align: center; font-size: 30pt;">
      <span><strong>Замовнику</span></strong>
</div>
<div style="background: #fffee8; text-align: center; font-size: 24pt;">
      <span><strong>Як оформити замовлення?</span></strong>
</div>
<div class="container">
  <p style="font-size: 20pt;">&emsp;1. У профілі натисніть кнопку “Створити завдання” та заповніть форму “Оформлення замовлення”.</br>
                &emsp;2. Ваше завдання з’явиться в списку замовлень.</br>
                &emsp;3. Тепер чекайте привабливих пропозицій від виконавців.</br>

    </p>
</div>

<div style="background: #fffee8; text-align: center; font-size: 24pt;">
      <span><strong>Як вибрати виконавця і оплатити замовлення?</span></strong>
</div>
<div class="container">
  <p style="font-size: 20pt;">&emsp;Оберіть виконавця серед пропозицій на сторінці вашого замовлення, натиснувши ‘'Прийняти’’.</br>
                &emsp;Замовлення оплачується в розмірі 100%, але це зовсім не означає, що гроші переходять на рахунок виконавця і стають доступні. Ми резервуємо їх в системі і переведемо виконавцю тільки в тому випадку, якщо отримаємо від вас підтвердження, що робота виконана і відповідає початковим вимогам.

    </p>
</div>

<div style="background: #fffee8; text-align: center; font-size: 24pt;">
      <span><strong>Де знайти виконану роботу та що далі?</span></strong>
</div>
<div class="container">
  <p style="font-size: 20pt;">&emsp;Коли робота буде виконана, у профілі в “Мої замовлення” статус зміниться з “Виконується” на “Виконано” та ви можете завантажити роботу, натиснувши кнопку “Завантажити відповідь” (результат).</br>
  &emsp;Якщо ви впевнені, що робота виконана коректно і відповідає всім обумовленим вимогам, прийміть роботу відразу. Виконавець буде вам вдячний, адже він відразу зможе вивести зароблені кошти.</br>
  &emsp;Важливо оцінити роботу виконавця у формі, яка буде запропонована після завантаження виконаної роботи.
    </p>
</div>

<div style="background: #188753; text-align: center; font-size: 30pt;">
      <span><strong>Виконавцю</span></strong>
</div>

<div style="background: #fffee8; text-align: center; font-size: 24pt;">
      <span><strong>Як обрати замовлення?</span></strong>
</div>
<div class="container">
  <p style="font-size: 20pt;">&emsp;1. Вивчіть список замовлень.</br>
                &emsp;2.Виберіть цікаве вам замовлення і перейдіть на сторінку замовлення для детального ознайомлення із завданням. Особливо зверніть увагу на термін здачі роботи. Як правило, замовники уважно ставляться до заповнення цього поля при публікації замовлення і хочуть отримати виконану роботу не пізніше цієї дати.</br>
                &emsp;3.Якщо вас зацікавило конкретно замовлення і ви впевнені, що впораєтеся з його виконанням на відмінно, тоді саме час повідомити про це замовника. Для цього залиште пропозицію на сторінці замовлення.</br>
                &emsp;4.Після публікації ваша пропозиція з'явиться серед інших пропозицій виконавців.</br>
                &emsp;5.Якщо ваша пропозиція була обрана замовником, то в профілі в списку “Мої роботи” з'являються відповідні деталі. 

    </p>
</div>

<div style="background: #fffee8; text-align: center; font-size: 24pt;">
      <span><strong>Як формується рейтинг?</span></strong>
</div>
<div class="container">
  <p style="font-size: 20pt;">&emsp;Після завантаження виконаної роботі замовником, останній має оцінити задоволеність кінцевим результатом у спеціальній формі від 1-5 балів. Загальний рейтинг - це середнє арифметичне балів за всі замовлення.
</p>
  </div>

<div style="background: #fffee8; text-align: center; font-size: 24pt;">
      <span><strong>Коли замовлення оплачується?</span></strong>
</div>
<div class="container">
  <p style="font-size: 20pt;">&emsp;Замовлення оплачується в розмірі 100%, але це зовсім не означає, що гроші переходять на ваш рахунок і стають доступні. Ми резервуємо їх в системі і переведемо тільки в тому випадку, якщо отримаємо від замовника підтвердження, що робота виконана і відповідає початковим вимогам. У разі якщо замовник приймає роботу, кошти, заморожені сервісом за замовлення, відразу ж стануть доступні.
</p>
</div>